* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: black;
}

::selection {
  background-color: #61dafb;
  color: white;
}

.logo {
  width: 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4rem 0.5rem 4rem;
  margin-bottom: 3rem;
  background-color: white;
  box-shadow: 0px 2px 5px 0px rgba(133, 133, 133, 0.65);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(133, 133, 133, 0.65);
  -moz-box-shadow: 0px 2px 5px 0px rgba(133, 133, 133, 0.65);
}

nav ul {
  display: flex;
}

nav ul li:not(:last-child) {
  margin-right: 6rem;
}

nav ul a {
  font-size: 1.1rem;
  color: #61dafb;
}

@media (max-width: 600px) {
  nav {
    padding: 0.5rem 3rem 0.5rem 1.5rem;
  }
}
